@media (min-width: 2000px) {
	.seo-text {
		margin: 0 auto 3rem auto;
	}
}
@media (min-width: 320px) {
	.products-bottomfix .product:nth-last-child(-n+3) .product-info {
	top: 100%;
	bottom: initial;
}
@media (max-width: 1199px) {
	.lSSlideOuter .lSPager.lSpg {
		width: 485px;
		bottom: 11%;
	}
	.cart-form .h3 {
		font-size: 2rem;
	}
	.product-inner-price {
		max-width: 100%;
	}
}

@media (max-width: 1024px) {
	.sign-up.sign-up-modified .container {
		width: 700px !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.lightSlider-container {
		width: calc(970px - 3em);
	}

	.search.active input {
		width: 36rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.lightSlider-container {
		width: 750px;
	}
}

@media (max-width: 767px) {
	.lightSlider-container {
		width: auto;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 8px;
	}
	.search {
		right: 38rem;
	}
	.search-hidder .nav-items {
		width: 32rem;
	}
	.search.active input {
		width: 30rem;
	}
	.teaser {
		padding-top: 56px;
	}
	.tiles-container {
		padding: 0;
	}
	.lightSlider-container {
		height: 292px;
		margin-bottom: 16px;
		padding: 0 0 33px;
		background-size: cover;
		box-shadow: inset 0em -17em 4em rgba(0, 0, 0, 0.2);
	}
	.lightSlider-wrapper {
		margin-top: 17rem;
	}
	.lightSlider-title {
		margin-bottom: 10px;
		padding: 0 16px;
		font-size: 22px;
		font-weight: bold;
	}
	.lightSlider-title br {
		display: none;
	}
	.lightSlider-text {
		margin-bottom: 25px;
		padding: 0 16px;
		font-size: 13px;
		font-weight: 400;
	}
	.lightSlider-text br:last-child {
		display: none;
	}
	.lightSlider-text br:first-child {
		display: inline;
	}
	.lightSlider-container .lightSlider-link {
		margin-left: 16px;
	}
	.information-text {
		white-space: normal;
	}
	.sign-up .bg-container {
		max-width: 415px;
	}
	.article-info {
		margin-bottom: 2rem;
		font-size: 1.4rem;
	}
	.article-image {
		height: auto;
		padding-bottom: 100%;
	}
	.mini-articles .article-image {
		height: 80px;
		width: 80px;
		padding-bottom: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin: 0 1rem 0 0;
	}
	.mini-articles {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.mini-articles-info {
		width: 100%;
	}
	.footer {
		text-align: center;
		background-image: url(../img/bg-footer-transparent.png);
	}
	.footer .payment {
		margin: 1.7rem;
	}
	.lSSlideOuter .lSPager.lSpg {
		width: 375px;
		bottom: 11%;
	}
	.cart-info {
		margin-top: 2rem;
	}
	.product-label:after {
		height: 0.2rem;
	}
	.feedback-form {
		margin-top: 4rem;
	}
}

@media (max-width: 900px) {
	.product.width-1,
	.product-sizer,
	.product {
		width: 32.66%;
		margin-right: 1%;
	}
	.product:nth-last-of-type(1) {
		margin-left: 0;
	}
	.product:nth-child(1n),
	.cart-products .product:nth-of-type(4n) {
		margin-right: 0;
	}
	.product.width-1 .product-img {
		height: 30rem;
	}
	.products .product:nth-child(6n) {
		margin-top: inherit;
	}
	.product-info {
		position: inherit;
		visibility: visible;
		opacity: 1;
		box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.14);
		min-height: 85px;
		/* min-height: 90px; */
	}
	.product {
		margin-bottom: 2rem;
	}
	.products::after {
		content: none;
	}
	.product-actions a:nth-child(1) {
		display: none;
	}
	.product-actions a:nth-child(2) {
		width: 100%;
		background: #ffb400;
		color: white;
	}
	.product-actions {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		border: none;
	}
}

@media (max-width: 840px) {
	.catalog-products .product.width-1,
	.catalog-products .product-sizer,
	.catalog-products .product {
		width: 49.5%;
		margin-right: 0;
	}
	.options-container:first-child {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sorting {
		margin-bottom: 2rem;
	}
}

@media (max-width: 768px) {
	.lk,
	.header-info .search {
		display: none;
	}

	.mobile-navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 5px 0 20px;
	}

	.tiles {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.tile-wrapper {
		width: 100%;
		margin-left: 0;
	}

	.tile-wrapper > .tile.width-2:first-child {
		margin-bottom: 16px;
	}

	.tile.width-3 {
		margin-right: 0;
		margin-bottom: 16px;
	}

	.tile.tile.width-2 {
		margin-bottom: 16px;
	}

	.tile:after,
	.tile.width-2:after {
		padding-bottom: 94%;
	}

	.our-stats p {
		width: 50%;
		margin: 0 0 4rem;
	}
	.our-stats {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.head .logo a:nth-child(2) {
		display: none;
	}
	.sidebar .boasting {
		display: none;
	}
	.breadcrumbs .row .col-md-6 {
		width: 100%;
	}
	.breadcrumbs .text-right {
		text-align: left;
		margin: 2rem 0 1rem;
	}
	.megabasket {
		display: none;
	}
	/*
	.no-md-padding {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
*/
	.ms-container .ms-list {
		height: 24rem;
	}
	.lSSlideOuter .lSPager.lSpg {
		width: inherit;
		left: inherit;
		right: 15px;
	}
	.activate-pusher {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.mobile-menu {
		display: block;
	}
	nav,
	.enter-and-reg,
	.phone-and-basket>a,
	.second-menu {
		display: none;
	}
	.content {
		top: 11rem;
	}
	.tile.width-3 {
		width: 100%;
	}
	.tile.width-1 {
		width: 50%;
	}
	.tile.width-2 {
		width: 100%;
	}
	.sign-up .bg-container {
		background: #fff;
		max-width: 350px;
		padding: 2rem;
		box-sizing: content-box;
	}
	.sign-up-modified .bg-container {
		max-width: 100%;
		padding: 0;
	}
	.catalog-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sidebar {
		width: 100%;
		border: none;
		padding: 0;
	}
	.sidebar-else {
		display: none;
	}
	.sidebar .boasting {
		padding-bottom: 4rem;
	}
	.sign-up.small p.h1 {
		margin-bottom: 1rem;
	}
	.sign-up.small p:not(.h1) {
		margin-bottom: 1rem;
	}
	table#lk-order_table,
	.sizes-table {
		border-top: 1px solid #d0d0d0;
	}
	table#lk-order_table,
	table#lk-order_table thead,
	table#lk-order_table tbody,
	table#lk-order_table th,
	table#lk-order_table td,
	table#lk-order_table tr,
	.sizes-table,
	.sizes-table thead,
	.sizes-table tbody,
	.sizes-table th,
	.sizes-table td,
	.sizes-table tr {
		display: block;
	}
	table#lk-order_table thead tr,
	.sizes-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	table#lk-order_table tbody td,
	.sizes-table tbody td {
		border: none;
		position: relative;
		padding: 5px 0 5px 50%;
	}
	table#lk-order_table tbody td:before,
	.sizes-table tbody td:before {
		position: absolute;
		top: 0;
		left: 6px;
		width: 48%;
		white-space: nowrap;
		text-align: left;
		height: 100%;
		border-right: 1px solid #d0d0d0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	table#lk-order_table tbody td,
	.sizes-table tbody td {
		border-bottom: 1px solid #d0d0d0;
		min-height: 20px;
	}
	table#lk-order_table tbody tr,
	.sizes-table tbody tr {
		border: solid #d0d0d0;
		border-width: 0 1px 0;
	}
	table#lk-order_table tbody tr:last-child,
	.sizes-table tbody tr {
		border-bottom-width: 0;
		border-top-width: 0;
	}
	table#lk-order_table .lot-payment {
		max-width: none;
		padding: 5px 0 5px 50%;
	}
	table#lk-order_table tbody td:nth-of-type(1):before {
		content: "Статус заказа";
	}
	table#lk-order_table tbody td:nth-of-type(2):before {
		content: "Состав заказа";
	}
	table#lk-order_table tbody td:nth-of-type(3):before {
		content: "Номер заказа";
	}
	table#lk-order_table tbody td:nth-of-type(4):before {
		content: "Цена";
	}
	table#lk-order_table tbody td:nth-of-type(5):before {
		content: "Доставка";
	}
	table#lk-order_table tbody td:nth-of-type(6):before {
		content: "Оплата";
	}
	table#lk-order_table tbody td:nth-of-type(7):before {
		content: "Дата заказа";
	}
	table#lk-order_table .lot-stat svg {
		margin-bottom: 0;
	}
	.handthings-inputs {
		width: 100%;
	}
	.handthings-add {
		width: 100%;
		padding: 4rem 0;
		margin-bottom: 0;
	}
	.sizes-table tbody td:nth-of-type(1):before {
		content: "Обхват груди (см)";
	}
	.sizes-table tbody td:nth-of-type(2):before {
		content: "Обхват талии (см)";
	}
	.sizes-table tbody td:nth-of-type(3):before {
		content: "Обхват бедер (см)";
	}
	.sizes-table tbody td:nth-of-type(4):before {
		content: "Международ. размер";
	}
	.sizes-table tbody td:nth-of-type(5):before {
		content: "Российский размер";
	}
	.sizes-table tbody td:nth-of-type(6):before {
		content: "Европейский размер";
	}
	.sizes-table.table-shoes tbody td:nth-of-type(1):before {
		content: "Длинна стопы (см)";
	}
	.sizes-table.table-shoes tbody td:nth-of-type(2):before {
		content: "Российский размер";
	}
	.page-sizes .nav-tabs > li > a {
		font-size: 1.4rem;
		padding: 1rem;
	}
	.product-info {
		min-height: 90px;
	}
	
}

@media (max-width: 550px) {
	.designers-item {
		width: 33.3%;
	}
	.top-indent {
		height: 7rem;
	}
	.head {
		height: 7rem;
	}
	.content {
		top: 7rem;
	}
	.product.width-1,
	.product-sizer,
	.product,
	.cart-products .product.width-1,
	.cart-products .product-sizer,
	.cart-products .product {
		width: 49.5%;
	}
	.product-header {
		margin: 1rem 0;
	}
	.promocode input {
		width: 100%;
	}
	.boasting {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		text-align: center;
	}
	.sign-up.sign-up-modified .container {
		width: inherit !important;
		margin: 0 auto;
	}
	.sign-up-modified .bg-container {
		display: block;
	}
	.sign-up-modified .left-column {
		margin-bottom: 2rem;
	}
	.sidebar .boasting {
		text-align: left;
	}
	.boasting-header:before {
		margin-left: auto;
		margin-right: auto;
		height: 1px;
	}
	.sidebar .boasting-header:before {
		margin: 4rem 0 1rem;
	}
	.lk-double .left-side,
	.lk-double .right-side {
		width: 100%;
		max-width: none;
		padding-right: 0;
		padding-left: 0;
	}
	.lk-triple_item {
		width: 100%;
		margin-left: 0;
	}
	.right-side.move_top {
		margin-top: 5rem;
	}
	.lk-double {
		margin-bottom: 5rem;
	}
	.lk-double .h3 {
		margin-top: 0;
	}
	.lk-custom_double .lk-double {
		max-width: none;
	}
}

@media (max-height: 870px) {
	.inputs-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.input-group {
		width: 50%;
		padding-right: 1rem;
	}
	.input-group:nth-child(2n) {
		padding-right: 0;
	}
}

@media (max-width: 400px) {
	.handthings-faq div {
		width: 100%;
	}
	.our-stats p {
		width: 100%;
	}
	.seccess-order p b {
		font-size: 4rem;
	}
	.lSSlideOuter .lSPager.lSpg {
		bottom: 2rem;
	}
	.lSSlideOuter .lSPager.lSpg>li {
		background-color: #282828;
	}
	.lSSlideOuter .lSPager.lSpg>li.active {
		background-color: #a89561;
	}
	.tile.width-1 {
		width: 100%;
	}
	.product.width-1,
	.product-sizer,
	.product,
	.cart-products .product.width-1,
	.cart-products .product-sizer,
	.cart-products .product {
		width: 100%;
	}
	.swap-products:after {
		display: none;
	}
	.swap-products a {
		padding: 0 1rem;
	}
	.teaser-footer {
		position: inherit;
		background-color: #ffffff;
		padding: 1rem 0;
	}
	.btn-slider.active {
		background-color: #ffb400;
	}
	.sign-up .input-group {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
	}
	.sign-up .input-group input {
		margin: 0 0 0.5rem;
		width: 80%;
		min-width: initial;
		border-radius: 2rem 2rem 0 0;
		text-align: center;
		padding: .8rem 0;
	}
	.sign-up .input-group button {
		width: 80%;
		border-radius: 0 0 2rem 2rem;
	}
	.sign-up {
		text-align: center;
	}
	.sign-up br {
		display: none;
	}
	.basket-container {
		width: 35rem;
	}
	.bdh-button p {
		display: none;
	}
	.bdh-button button {
		width: 100%;
	}
	.basdrop-head {
		padding: 2rem;
	}
	.basdrop-body {
		padding: 0 2rem;
	}
	.basdrop-item_image {
		display: none;
	}
	.basdrop-item a {
		margin: 0 2rem 0 0
	}
	.catalog-products .product.width-1,
	.catalog-products .product-sizer,
	.catalog-products .product {
		width: 100%;
	}
/*
	#lightSlider img {
		padding-top: 4rem;
	}
*/
	.inputs-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.input-group {
		width: 100%;
		padding-right: 0;
	}
}


/* HEIGHT */

@media (max-height: 570px) {
	.input-group input {
		margin-bottom: 1rem;
		padding: .5rem 1rem;
	}
	.ordered-fitting .popup-content .checkbox {
		margin: 1rem 0;
	}
	.ordered-fitting .popup-content .h2 {
		margin: 1rem 0;
		font-size: 2rem;
	}
	.ordered-fitting .popup-content .h4 {
		margin-top: 0;
	}
	.popup-body {
		padding: 2rem;
	}
	.ordered-fitting .popup-content span {
		margin-bottom: 0;
	}
	.input-group label {
		margin-bottom: 0;
	}
}
@media (max-width: 767px) {
    .footer-develop, .contacts-footer { 
		text-align:center 
	}
	.footer .socials {
		justify-content: center;
	}
}