.flex-end{
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
        font-size: 20px;
}

.phone_head{
	color: #282828;
}
.btn_call_back{
	color: #e0ba60;
}
.slam-easyform{
	    margin-top: 30px;
}
.btn-fullorange.invert{
	margin-top: 20px;
	color: #e0ba60;
	width: 100%;
    background-color: #fff;
    border-color: #e0ba60;
}
.invert.cstm_invert{
color: #e0ba60 !important;
	
    background-color: #fff !important;
    border-color: #e0ba60 !important;
        text-decoration: unset !important;
}
.btn_primerka_detail{
	margin-left: 20px;
	color: #e0ba60;
}
.underline{
	text-decoration: underline;
}
.radio_primerka{
	display: block !important;
    width: 20% !important;
    height: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
.flex-radio{
	    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.radio_merka{
	width: 100% !important;
	display: flex !important;
	margin-bottom: 20px;
}
.label_radio_primerka{
	margin: 0!important;
}